<form action="{% url 'search' %}">
    <div class="input-group rg-search">
        <label class="sr-only" for="input-search">Término a buscar</label>
        <input id="input-search" class="ui-widget form-control" name="q" type="text" value="{{ query }}">
        <select name="l">
            {% if lexicon_names %}
                {% for lex in lexicons %}
                    <option value='{{ lex.name }}'>{{ lex.name }}</option> 
                {% endfor %}
            {% else %}
                <option selected value=''>Empty Value</option>
            {% endif %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-search"><i
                    class="{{ fa_class }} fa-search fa-2x" aria-hidden="true"></i></button>
        </div>

    </div>
</form>
