{% extends "linguatec_lexicon_frontend/base_static_pages.html" %}
{% load static %}

{% block content %}
<div class="col-12 rg-help">
    <h1 class="countheads">Ayuda</h1>
    <h2>Presentación</h2>
    <p>El Gobierno de Aragón ofrece aquí una versión electrónica revisada de la cuarta edición del <em>Vocabulario
            básico bilingüe. Aragonés-Castellano y Castellano-Aragonés</em> (Zaragoza, 2013), de Antonio Martínez Ruiz,
        accesible a través de internet en sentido Castellano-Aragonés.</p>

    <p>En esta versión se ofrecen un total de 8.653 entradas en castellano, con su correspondiente traducción al
        aragonés, dando en muchos casos ejemplos de uso y, si se trata de verbos, su conjugación, bien sea completa,
        para los verbos regulares que se consideran modelo de cada una de ellas, su remisión al modelo, o la conjugación
        de los irregulares en aquellas personas y tiempos que así lo sean, remitiendo en el resto al modelo de
        conjugación bien sea la primera, la segunda o la tercera.</p>

    <p>Este trabajo ha sido posible gracias al Programa INTERREG V-A España-Francia-Andorra, denominado LINGUATEC en el
        que participa el Gobierno de Aragón, a través de la SOCIEDAD DE PROMOCIÓN Y GESTIÓN DEL TURISMO DE ARAGÓN,
        S.L.U., junto con LO CONGRÈS PERMANENT DE LA LENGA OCCITANA, UNIVERSIDAD DEL PAÍS VASCO / EUSKAL HERRIKO
        UNIBERTSITATEA,CNRS (CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE)- DELEGATION REGIONALE MIDI-PYRENEES,
        EUSKALTZAINDIA - REAL ACADEMIA DE LA LENGUA VASCA, para el periodo de enero 2018 a diciembre de 2020.</p>

    <p>El objetivo del proyecto LINGUATEC es desarrollar, demostrar y difundir nuevos recursos, herramientas y
        aplicaciones lingüísticas innovadoras que mejoren el nivel de digitalización del aragonés, del euskera y del
        occitano. Los resultados que se esperan de este proyecto son los siguientes: Una hoja de ruta de digitalización
        del aragonés; 5 nuevos recursos lingüísticos; 8 herramientas lingüísticas desarrolladas o 6 Aplicaciones
        innovadoras desarrolladas; 2 acuerdos entre universidades y empresas para la comercialización de soluciones. La
        colaboración transfronteriza permitirá transferir conocimientos y desarrollar soluciones lingüísticas con
        potencial de mercado, que beneficien a profesionales de las lenguas y faciliten el acceso público multilingüe a
        contenidos y avanzar en el desarrollo de un clúster transfronterizo de tecnologías lingüísticas.</p>

    <h2>Porqué "Aragonario"</h2>
    <p>Hemos elegido la denominación de <strong>Aragonario</strong> porque sintetiza los dos conceptos presentes en esta
        obra: la lengua aragonesa o <strong>Aragonés</strong> y el <strong>Diccionario</strong>. Además de ello el
        sufijo –ario determina una relación general o específica (lugar, colección, etc.) con la base a la que se
        adjunta.</p>


    <h2>Estructura</h2>

    <p>Cada artículo del Diccionario consta de las siguientes secciones:</p>
    <ol>
        <li><strong>LEMA:</strong> voz que encabeza el artículo y se presenta:
            <ol class="rg-lower-alpha">
                <li>en castellano en letra minúscula redonda</li>
                <li>en su forma masculina, seguida de la terminación en femenino separada por una / cuando tiene
                    variación de
                    género (niño/a)</li>
            </ol>
        </li>

        <li><strong>INFORMACIÓN COMPLEMENTARIA</strong> que contiene:
            <ol class="rg-list-lower-alpha">
                <li>categoría gramatical, en minúscula, redonda y entre paréntesis su abreviatura: <em>verbo (v.)</em>
                </li>
                <li>género, en minúscula, redonda: niño/a <em>sustantivo masculino (s. m.) sustantivo femenino (s.
                        f.)</em></li>
            </ol>
        </li>

        <li><strong>SIGNIFICADO</strong> en aragonés, en minúscula, redonda y negrita, precedido, entre paréntesis de
            otras acepciones en castellano en minúscula, redonda:
            <ul class="rg-list-citation">
                <li>(llegar a hacer) <strong>adubir, abastar, dar abasto, abenir-se-ne</strong></li>
                <li>(acaparar) <strong>abracar</strong></li>
            </ul>
        </li>

        <li><strong>EJEMPLOS DE USO</strong> en aragonés, en negrita cursiva:
            <ul class="rg-list-citation">
                <li><strong>Se veyeban muitas boiras denzima d’o tozal de Gratal.</strong></li>
            </ul>
        </li>

        <li><strong>EXPLICACIÓN DE USO</strong> en castellano, entre paréntesis, redonda a continuación de la traducción
            al aragonés:
            <ul class="rg-list-citation">
                <li>
                    <strong>boira</strong> (Puede emplearse tanto en singular como en plural. Puede emplearse con
                    cuantificadores: dos boiras,
                    bellas boiras, muitas boiras)</li>
            </ul>
        </li>


        <li><strong>CONJUGACIÓN</strong> o remisión a la conjugación regular, según su terminación en –ar, -er o –ir, si
            se trata de verbos, en redonda:
            <ul class="rg-list-citation">
                <li>Adubir es modelo para la conjugación regular de los verbos regulares terminados en -ir.</li>
            </ul>
        </li>

        <li><strong>REPRESENTACIÓN GRÁFICA:</strong> Se ha utilizado la forma de representación gráfica del aragonés
            contenida en la Resolución de 16 de mayo de 2017, por la que se da publicidad a algunos aspectos básicos de
            la representación gráfica de la lengua aragonesa (BOA de 28 de junio de 2017) y Corrección de errores de la
            Resolución de 16 de mayo de 2017, del Director General de Política Lingüística, por la que se da publicidad
            a algunos aspectos básicos de la representación gráfica de la lengua aragonesa, publicada en el “Boletín
            Oficial de Aragón”, número 122, de 28 de junio de 2017 (BOA de 20 de septiembre de 2017).
        </li>
    </ol>

    <h2>¿Cómo hacer una consulta?</h2>
    <p>El buscador ha sido diseñado para facilitar el acceso a los artículos del Diccionario y obtener resultados más
        precisos. El menú de opciones de búsqueda permite seleccionar distintos criterios.</p>

    <p>El mecanismo de consulta es el siguiente:</p>
    <ol>
        <li>Escriba en castellano la palabra que desea traducir.</li>
        <li>Un desplegable le ofrece las palabras más cercanas a lo que se ha introducido</li>
        <li>Seleccione la que desee o pulse “entrar” o haga clic con el ratón sobre la lupa.</li>
        <li>Si la palabra deseada no se encuentra en el diccionario aparece este mensaje:
            <ul class="rg-list-citation">
                <li>No se ha encontrado la palabra "xxxx".</li>
                <li>Te listamos las palabras más cercanas lexicográficamente:</li>
            </ul>
        </li>
        <li>Desde allí se puede acceder a la que se desee</li>
    </ol>

    <h2>Información morfológica</h2>
    <h3>Las formas del femenino</h3>
    <p>La formación del género se realiza de las siguientes formas dependiendo de la terminación del masculino:</p>
    <ul class="rg-list-help-variants">
        <li>Palabras de diferente tipo léxico (es decir, distinto origen) que el castellano y que tienen diferente
            género:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>chordón</td>
                        <td>‘la frambuesa’</td>
                    </tr>
                    <tr>
                        <td>o maitín</td>
                        <td>‘la mañana’</td>
                    </tr>
                    <tr>
                        <td>o purput</td>
                        <td>‘la abubilla’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Palabras que tienen igual tipo léxico (es decir, mismo origen), pero poseen diferente género:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a fin</td>
                        <td>‘el fin’</td>
                    </tr>
                    <tr>
                        <td>a val</td>
                        <td>‘el valle’</td>
                    </tr>
                    <tr>
                        <td>o calso</td>
                        <td>‘la cal’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Los nombres de árboles y plantas que dan fruto son generalmente femeninas:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>perera</td>
                        <td>‘peral’</td>
                    </tr>
                    <tr>
                        <td>almendrera</td>
                        <td>‘almedro’</td>
                    </tr>
                    <tr>
                        <td>olivera</td>
                        <td>‘olivo’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Las palabras acabadas en -or son generalmente femeninas:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ulor</td>
                        <td>‘olor’</td>
                    </tr>
                    <tr>
                        <td>calor</td>
                        <td>‘calor’</td>
                    </tr>
                    <tr>
                        <td>clamor</td>
                        <td>‘barranco’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Al igual que en castellano la formación del género en determinadas palabras se realiza por medio de una
            palabra nueva:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>pai / mai</td>
                        <td>‘padre, madre</td>
                    <tr>
                        <td>buco / craba</td>
                        <td>‘macho caprino, cabra’</td>
                    <tr>
                        <td>ombre / muller</td>
                        <td>‘hombre, mujer’</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>

    <h3>Las formas del plural</h3>
    <p>En aragonés, como en el resto de las lenguas románicas, el plural se suele construir por medio del morfema –s.
        Sin embargo, también existen otras formas de hacerlo según el contexto fónico de las palabras.</p>

    <ul class="rg-list-help-variants">
        <li>En palabras acabadas en vocal se añade una –s:
            <ul class="rg-list-citation">
                <li>carambelo / carambelos</li>
                <li>fuella / fuellas</li>
                <li>fillo / fillos</li>
            </ul>
        </li>

        <li>En palabras acabadas en consonante se añade una –s, a excepción de las que acaban en –s, -x, -z y -ch:
            <ul class="rg-list-citation">
                <li>ababol / ababols</li>
                <li>pastor / pastors</li>
            </ul>
        </li>
        <li>En palabras acabadas en -ero realizan el plural en -rs (en este caso, la r no se pronuncia):
            <ul class="rg-list-citation">
                <li>cordero / corders</li>
                <li>numero / numers</li>
                <li>caldero / calders</li>
            </ul>
        </li>

        <li>En palabras acabadas en vocal tónica o -t, realizan el plural mediante -z:
            <ul class="rg-list-citation">
                <li>ziudat / ziudaz</li>
                <li>mozet / mozez</li>
                <li>tot / toz</li>
            </ul>
        </li>
    </ul>

    <h2>Abreviaturas</h2>
    <p>A continuación se lista el significado de las abreviaturas utilizadas.</p>
    <table class="table table-striped">
        <caption class="sr-only">Listado de abreviaturas y sus significados</caption>
        <thead>
            <tr>
                <th scope="col">Abreviatura</th>
                <th scope="col">Significado</th>
            </tr>
        </thead>
        <tbody>
            {% for gramcat in gramcats %}
            <tr>
                <th scope="row">{{ gramcat.abbreviation }}</th>
                <td>{{ gramcat.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
