{% extends "linguatec_lexicon_frontend/base_static_pages.html" %}
{% load static %}

{% block content %}
<div class="col-12 rg-help">
    <h1 class="countheads">Linguatec</h1>
    <p>Este trabajo ha sido posible gracias al Programa INTERREG V-A España-Francia-Andorra, denominado LINGUATEC en el 
        que participa el Gobierno de Aragón, a través de la Sociedad de Promoción y Gestión del Turismo de Aragón, S.L.U., 
        junto con Lo Congrès Permanent de la Lenga Occitana, Universidad del País Vasco / Euskal Herriko Unibertsitatea, 
        CNRS (Centre National de la Recherche Scientifique)- Delegation regionale Midi-Pyrenees, Euskaltzaindia - Real 
        Academia de la Lengua Vasca, para el periodo de enero de 2018 a diciembre de 2020.
    </p>
    
    <p>El objetivo del proyecto LINGUATEC es desarrollar, demostrar y difundir nuevos recursos, herramientas y 
        aplicaciones lingüísticas innovadoras que mejoren el nivel de digitalización del aragonés, del euskera y del 
        occitano. Los resultados que se esperan de este proyecto son los siguientes: Una hoja de ruta de digitalización 
        del aragonés; 5 nuevos recursos lingüísticos; 8 herramientas lingüísticas desarrolladas o 6 Aplicaciones innovadoras 
        desarrolladas; 2 acuerdos entre universidades y empresas para la comercialización de soluciones. La colaboración 
        transfronteriza permitirá transferir conocimientos y desarrollar soluciones lingüísticas con potencial de mercado, 
        que beneficien a profesionales de las lenguas y faciliten el acceso público multilingüe a contenidos y avanzar en 
        el desarrollo de un clúster transfronterizo de tecnologías lingüísticas.
    </p>

    <h1 class="countheads">Ayuda</h1>
    <h2>Presentación</h2>
    <h3>Versión abril 2019</h3>
    <p>El Gobierno de Aragón ofrece aquí una versión electrónica revisada de la cuarta edición del <em>Vocabulario
            básico bilingüe. Aragonés-Castellano y Castellano-Aragonés</em> (Zaragoza, 2013), de Antonio Martínez Ruiz,
        accesible a través de internet en sentido castellano-aragonés.</p>

    <p>En esta versión se ofrecen un total de 8.653 entradas en castellano, con su correspondiente traducción al
        aragonés, dando en muchos casos ejemplos de uso y, si se trata de verbos, su conjugación, bien sea completa,
        para los verbos regulares que se consideran modelo de cada una de ellas, su remisión al modelo, o la conjugación
        de los irregulares en aquellas personas y tiempos que así lo sean, remitiendo en el resto al modelo de
        conjugación bien sea la primera, la segunda o la tercera.</p>

    <h3>Versión julio 2019</h3>

    <p>Esta nueva versión incorpora otras 9.155 nuevas entradas en castellano, con lo que se alcanza la cifra de 17.808
        entradas con su correspondencia en aragonés. A partir de esta versión se añade, además, un nuevo apartado
        denominado "VARIEDADES DIATÓPICAS", que comienza con el benasqués, el aragonés hablado en la <em>Vall de
            Benás</em> (Valle de Benasque), también denominado coloquialmente patués, con 3.151 entradas en castellano.
        Está basado en "Alasets", proyecto de la Asociación Guayente financiado por el Departamento de Cultura del
        Gobierno de Aragón en 2002, que puede consultarse en la sección <a                                                                                                                                                                     
        href="http://www.lenguasdearagon.org/herramientas-y-servicios/#diccionarios">Herramientas y servicios del 
        portal Lenguas de Aragón</a> y <a href="http://www.patrimonioculturaldearagon.es">en el portal Patrimonio Cultural de Aragón</a>
    </p>


    <p>Paulatinamente se irán añadiendo otras variedades diatópicas.</p>

    <h3>Versión diciembre 2019</h3>
    
    <p>La versión -corregida y aumentada- que ahora ponemos a disposición de los usuarios incorpora otras 5.239 
        nuevas entradas en castellano, con lo que se alcanza la cifra de 23.047 entradas con su correspondencia
        en aragonés. En el apartado denominado "VARIEDADES DIATÓPICAS", se incluyen las de las diferentes 
        comarcas altoaragonesas:
    </p>

    <p><strong>Jacetania: Ansotano</strong>, de la Val d’Ansó, con 2.002 entradas y basado en <em>Estudio del habla del 
        valle de Ansó</em> de Mª Pilar Benítez Marco (Zaragoza, 2011) y <strong>cheso</strong> de la Val d’Echo, con 2.893 
        entradas y basado en <em>Vocabulario cheso</em> (ficheros de Rosa Coarasa, Rafael Gastón, Victoria Nicolás, 
        Veremundo Méndez - <em>Añada en la Val d’Echo</em>, Zaragoza, 1979, Rafael Andolz – <em>Diccionario aragonés</em>, 
        Zaragoza, Librería General, 1977, 1.ª ed., y <em>Replega de Vocabulario cheso</em> de Antonio Serón –inédito-). 
    </p>

    <p><strong>Alto Gállego</strong>: Aragonés <strong>tensino</strong> de la Val de Tena y tierra de Biescas, con un apartado específico para el
    aragonés <strong>panticuto</strong> de Panticosa, con 573 y 3.367 entradas respectivamente. Se basan en el <em>Diccionario 
        Panticuto</em> de Ricardo Mur Saura (Sabiñánigo, 2014), <em>Vocabulario básico del aragonés del Alto Gállego</em> de
        Pilar Benítez Marco (en <em>Pos ixo… Materials ta aprender aragonés</em>, Samianigo, Comarca Alto Gállego,
        pp. 73-86), y un <em>Vocabulario tensino</em> inédito de Miguel Martínez Tomey.
    </p>

    <p><strong>Sobrarbe</strong>: se incluye el habla de <strong>Sobrepuerto</strong> (en realidad es una subcomarca a caballo entre Alto Gállego 
        y Sobrarbe) con 3.511 entradas a partir del <em>Vocabulario de Sobrepuerto</em> de José María Satué Sanromán 
        (publicado por el Instituto de Estudios Altoaragoneses en 1991) y otros trabajos inéditos del mismo autor; 
        el <strong>belsetán</strong> de la valle de Bielsa con 1.252 entradas a partir de la obra de Antonio Badía Margarit, 
        <em>El habla del Valle de Bielsa</em> (Barcelona, 1950) y el <strong>chistabín</strong> de la Val Chistau basado en 
        <em>Vocabulario-estudio de la fabla del valle de Xistau –Plan-</em> (1966-1970) de Luzía Dueso Lascorz, en 
        Rafael Andolz, <em>Diccionario aragonés</em>, Zaragoza, Librería General, 1977, 1.ª ed., y con 1.384 entradas.
    </p>

    <p><strong>Ribagorza</strong>: Además del <strong>benasqués</strong>, se incluye ahora el <strong>baixorribagorzano</strong> con 2.505 entradas 
        a partir del <em>Diccionario del habla de la baja Ribagorza</em> de María Luisa Arnal Purroy, publicado en 
        2003 por Gara d’Edizions y la Institución “Fernando el Católico”.
    </p>

    <p><strong>Somontanos</strong>: El <strong>semontanés</strong> se refiere a la variedad de aragonés hablada en el Semontano de Balbastro 
        (Somontano de Barbastro) y Plana de Uesca (Hoya de Huesca), con 11.019 entradas. Está basado principalmente
        en la obra de Chesús de Mostolay <em>El Aragonés en el Somontano de Barbastro</em> (Zaragoza, 2007, Aneto Publicaciones)
        que a su vez recopila trabajos de autores como Vicente Tobeña (Adahuesca), Pedro Arnal Cavero (Belver de Cinca,
        afincado en Alquezra), Alberto Bolsa (Salas Altas), Paz Ríos Nasarre (Salas Altas, 1967), Luciano Puyuelo
        (Castillazuelo), Fabián Castillo (Alquezra), Chuana Coscujuela (de Adahuesca, 1910), Salvador María de Ayerbe
        (Radiquero), Chesús Ferrando (Bierge), Bizén Fuster (Naval) o Rafel Vidaller (Salas Altas), y repertorios
        léxicos como <em>Bocabulario de Plasenzia</em> (Sotonera) de José Ignacio López Susín y María Dolores Montaner
        (Uesca, 2000), entre otros.
    </p>

    <!-- -->
    <h2>Porqué "Aragonario"</h2>
    <p>Hemos elegido la denominación de <strong>Aragonario</strong> porque sintetiza los dos conceptos presentes en esta
        obra: la lengua aragonesa o <strong>Aragonés</strong> y el <strong>Diccionario</strong>. Además de ello el
        sufijo –ario determina una relación general o específica (lugar, colección, etc.) con la base a la que se
        adjunta.</p>


    <h2>Estructura</h2>

    <p>Cada artículo del <em>Aragonario</em> consta de las siguientes secciones:</p>
    <ol>
        <li><strong>LEMA:</strong> voz que encabeza el artículo y se presenta:
            <ol class="rg-lower-alpha">
                <li>en castellano en letra minúscula redonda</li>
                <li>en su forma masculina, seguida de la terminación en femenino separada por una / cuando tiene
                    variación de género (niño/a)</li>
            </ol>
        </li>

        <li><strong>INFORMACIÓN COMPLEMENTARIA</strong> que contiene:
            <ol class="rg-list-lower-alpha">
                <li>categoría gramatical, en minúscula, redonda y entre paréntesis su abreviatura: <em>verbo (v.)</em>
                </li>
                <li>género, en minúscula, redonda: niño/a <em>sustantivo masculino (s. m.) sustantivo femenino (s.
                     f.)</em></li>
            </ol>
        </li>

        <li><strong>SIGNIFICADO</strong> en aragonés, en minúscula, redonda y negrita, precedido, entre paréntesis de
            otras acepciones en castellano en minúscula, redonda:
            <ul class="rg-list-citation">
                <li>(llegar a hacer) <strong>adubir, abastar, dar abasto, abenir-se-ne</strong></li>
                <li>(acaparar) <strong>abracar</strong></li>
            </ul>
        </li>

        <li><strong>EJEMPLOS DE USO</strong> en aragonés, en negrita redonda:
            <ul class="rg-list-citation">
                <li><strong>Se veyeban muitas boiras denzima d’o tozal de Gratal.</strong></li>
            </ul>
        </li>

        <li><strong>EXPLICACIÓN DE USO</strong> en castellano, entre paréntesis, redonda, a continuación de la traducción
            al aragonés:
            <ul class="rg-list-citation">
                <li>
                    <strong>boira</strong> (Puede emplearse tanto en singular como en plural. Puede emplearse con
                    cuantificadores: dos boiras, bellas boiras, muitas boiras)</li>
            </ul>
        </li>


        <li><strong>CONJUGACIÓN</strong> o remisión a la conjugación regular, según su terminación en –ar, -er o –ir, si
            se trata de verbos, en redonda:
            <ul class="rg-list-citation">
                <li>Adubir es modelo para la conjugación regular de los verbos regulares terminados en -ir.</li>
            </ul>
        </li>

        <li><strong>REPRESENTACIÓN GRÁFICA:</strong> Se ha utilizado la forma de representación gráfica del aragonés
            contenida en la Resolución de 16 de mayo de 2017, por la que se da publicidad a algunos aspectos básicos de
            la representación gráfica de la lengua aragonesa (BOA de 28 de junio de 2017) y Corrección de errores de la
            Resolución de 16 de mayo de 2017, del Director General de Política Lingüística, por la que se da publicidad
            a algunos aspectos básicos de la representación gráfica de la lengua aragonesa, publicada en el “Boletín
            Oficial de Aragón”, número 122, de 28 de junio de 2017 (BOA de 20 de septiembre de 2017).
        </li>
    </ol>

    <h2>¿Cómo hacer una consulta?</h2>

    <h3>Entrada</h3>

    <p>La forma de entrar a <em>Aragonario</em> es directamente a través de la página web 
       <a href="https://aragonario.aragon.es/">aragonario.aragon.es</a>, o bien a través del
       enlace instalado en la página web de la Dirección General de Política Lingüística 
       <a href="http://www.lenguasdearagon.org/">www.lenguasdearagon.org</a>
    </p>
    
    <p>Una vez allí nos encontraremos con esta pantalla:
       <br />
       <span><img src="{% static "imagen_5.png" %}" /></span>
    </p>

    <h3>Traducción</h3>

    <p>El buscador ha sido diseñado para facilitar el acceso a los artículos del <em>Diccionario</em> y obtener 
        resultados más precisos. El menú de opciones de búsqueda permite seleccionar distintos criterios.
    </p>

    <p>El mecanismo de consulta es el siguiente:</p>
    <ol>
        <li>Escriba en castellano la palabra que desea traducir.</li>
        <li>Un desplegable le ofrece las palabras más cercanas a lo que se ha introducido</li>
        <li>Seleccione la que desee o pulse “entrar” o haga clic con el ratón sobre la lupa.</li>
        <li>Si la palabra deseada no se encuentra en el diccionario aparece este mensaje:
            <ul class="rg-list-citation">
                <li>No se ha encontrado la palabra "xxxx".</li>
                <li>Te listamos las palabras más cercanas lexicográficamente:</li>
            </ul>
        </li>
        <li>Desde allí se puede acceder a la que se desee</li>
    </ol>

    <h2>Información morfológica</h2>
    <h3>Las formas del femenino</h3>
    <p>La formación del género se realiza de las siguientes formas dependiendo de la terminación del masculino:</p>
    <ul class="rg-list-help-variants">
        <li>Palabras de diferente tipo léxico (es decir, distinto origen) que el castellano y que tienen diferente
            género:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>chordón</td>
                        <td>‘la frambuesa’</td>
                    </tr>
                    <tr>
                        <td>o maitín</td>
                        <td>‘la mañana’</td>
                    </tr>
                    <tr>
                        <td>o purput</td>
                        <td>‘la abubilla’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Palabras que tienen igual tipo léxico (es decir, mismo origen), pero poseen diferente género:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a fin</td>
                        <td>‘el fin’</td>
                    </tr>
                    <tr>
                        <td>a val</td>
                        <td>‘el valle’</td>
                    </tr>
                    <tr>
                        <td>o calso</td>
                        <td>‘la cal’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Los nombres de árboles y plantas que dan fruto son generalmente femeninas:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>perera</td>
                        <td>‘peral’</td>
                    </tr>
                    <tr>
                        <td>almendrera</td>
                        <td>‘almedro’</td>
                    </tr>
                    <tr>
                        <td>olivera</td>
                        <td>‘olivo’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Las palabras acabadas en -or son generalmente femeninas:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ulor</td>
                        <td>‘olor’</td>
                    </tr>
                    <tr>
                        <td>calor</td>
                        <td>‘calor’</td>
                    </tr>
                    <tr>
                        <td>clamor</td>
                        <td>‘barranco’</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>Al igual que en castellano la formación del género en determinadas palabras se realiza por medio de una
            palabra nueva:
            <table class="table table-bordered">
                <caption class="sr-only">Ejemplos</caption>
                <thead class="sr-only">
                    <tr>
                        <th scope="col">aragonés</th>
                        <th scope="col">castellano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>pai / mai</td>
                        <td>‘padre, madre</td>
                    <tr>
                        <td>buco / craba</td>
                        <td>‘macho caprino, cabra’</td>
                    <tr>
                        <td>ombre / muller</td>
                        <td>‘hombre, mujer’</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>

    <h3>Las formas del plural</h3>
    <p>En aragonés, como en el resto de las lenguas románicas, el plural se suele construir por medio del morfema –s.
        Sin embargo, también existen otras formas de hacerlo según el contexto fónico de las palabras.</p>

    <ul class="rg-list-help-variants">
        <li>En palabras acabadas en vocal se añade una –s:
            <ul class="rg-list-citation">
                <li>carambelo / carambelos</li>
                <li>fuella / fuellas</li>
                <li>fillo / fillos</li>
            </ul>
        </li>

        <li>En palabras acabadas en consonante se añade una –s, a excepción de las que acaban en –s, -x, -z y -ch:
            <ul class="rg-list-citation">
                <li>ababol / ababols</li>
                <li>pastor / pastors</li>
            </ul>
        </li>
        <li>En palabras acabadas en -ero realizan el plural en -rs (en este caso, la r no se pronuncia):
            <ul class="rg-list-citation">
                <li>cordero / corders</li>
                <li>numero / numers</li>
                <li>caldero / calders</li>
            </ul>
        </li>

        <li>En palabras acabadas en vocal tónica o -t, realizan el plural mediante -z:
            <ul class="rg-list-citation">
                <li>ziudat / ziudaz</li>
                <li>mozet / mozez</li>
                <li>tot / toz</li>
            </ul>
        </li>
    </ul>

    <h2>Abreviaturas</h2>
    <p>A continuación se lista el significado de las abreviaturas utilizadas.</p>
    <table class="table table-striped">
        <caption class="sr-only">Listado de abreviaturas y sus significados</caption>
        <thead>
            <tr>
                <th scope="col">Abreviatura</th>
                <th scope="col">Significado</th>
            </tr>
        </thead>
        <tbody>
            {% for gramcat in gramcats %}
            <tr>
                <th scope="row">{{ gramcat.abbreviation }}</th>
                <td>{{ gramcat.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
