{% extends "linguatec_lexicon_frontend/base.html" %}
{% load static %}


{% block bodyclass %}home{% endblock %}
{% block content %}

<div class="">
    <h1 class="text-center">Aragonario</h1>
    <h2>Diccionario<br />castellano - aragonés</h2>
</div>

{{ block.super }}
{% endblock %}

{% block footer %}
<footer class="container fixed-bottom p-2 rg-footer">
    <div class="row text-center">
        <div class="col">
            <img class="img-fluid" alt="POCTEFA" src="{% static 'interreg-POCTEFA-LINGUATEC.jpg' %}" />
        </div>
        <div class="col">
            <img class="img-fluid" alt="DGA" src="{% static 'gobierno-aragon.jpg' %}" />
        </div>
    </div>
</footer>
{% endblock %}