{% extends "linguatec_lexicon_frontend/base.html" %}
{% load static %}


{% block bodyclass %}home{% endblock %}
{% block content %}

<div class="home-content">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Aragonario</h1>
            <h2>Diccionario<br />castellano - aragonés</h2>
        </div>
    </div>

    {{ block.super }}
</div>

<div class="row d-flex align-items-end external-links">
    <div class="col-6">
        <a class="ref-external" href="http://www.lenguasdearagon.org"><img src="# {# TODO #}" alt="logotipo Lenguas de Aragón" /></a><br />
        <a class="ref-external" href="http://www.lenguasdearagon.org">www.lenguasdearagon.org</a>
    </div>
    <div class="col-6">
        {# TODO: https://gitlab.com/linguatec/linguatec-lexicon-frontend/issues/13 #}
        <a class="ref-external" href="#TODO">Traductor automático</a>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="container-fluid fixed-bottom rg-footer">
    <div class="row text-center">
        <div class="col-12">
            <a id="footer_collapse_button" class="collapsed" data-toggle="collapse" href="#collapseLogos"
                role="button" aria-expanded="false" aria-controls="collapseLogos">
                <i class="fas fa-angle-up fa-3x"></i>
                <i class="fas fa-angle-down fa-3x"></i>
            </a>
        </div>
    </div>
    <div class="row text-center collapse" id="collapseLogos">
        <div class="col-12">
            <img class="img-fluid" alt="POCTEFA" src="{% static 'interreg-POCTEFA-LINGUATEC.jpg' %}" />
        </div>
        <div class="col-12">
            <img class="img-fluid" alt="Turismo de Aragón" src="{% static 'aragon-turismo-wide.svg' %}" />
        </div>
        <div class="col-12">
            <img class="img-fluid" alt="Gobierno de Aragón" src="{% static 'gobierno-aragon.jpg' %}" />
        </div>
    </div>
</footer>
{% endblock %}
