{% extends "linguatec_lexicon_frontend/base_site.html" %}
{% block content %}
<h1>Aviso Legal</h1>

<h2>DERECHOS DE PROPIEDAD INTELECTUAL Y SOBRE NOMBRES Y SIGNOS DISTINTIVOS</h2>

<p>Toda la información albergada en esta web, así como su diseño gráfico, textos, imágenes, sonido y cualquier otro
    material, es propiedad intelectual del Gobierno de Aragón, salvo que sean materiales cedidos o conste su
    titularidad de otra persona física o jurídica.
    Se autoriza el uso personal de los contenidos que no podrán utilizarse en ningún caso con fines comerciales. No está
    permitida la modificación del sitio Web institucional ni de sus contenidos.</p>


<h2>VALIDEZ DE DOCUMENTOS</h2>

<p>Solo los textos publicados en el “Boletín Oficial de Aragón” en formato digital e impreso tienen carácter de
    auténtico. Las reproducciones de documentos y contenidos del sitio web institucional tienen únicamente carácter
    informativo.</p>


<h2>EXONERACIÓN DE RESPONSABILIDAD</h2>

<p>En aquellos casos en que el sitio Web del Gobierno de Aragón contenga enlaces a otras páginas o sitios
    Web de titularidad ajena, ésta declina cualquier responsabilidad de sus contenidos o los servicios prestados a
    través de ellas.</p>
<p>El Gobierno de Aragón no será responsable de los fallos en la comunicación, plazos o versiones producidos
    por servicios de telecomunicación o por cualesquiera otros servicios técnicos prestados por terceras personas o
    desde servidores ajenos.</p>
<p>El Gobierno de Aragón no garantiza que la Web y el servidor estén libres de virus y no se hacen responsables de los
    daños causados por el acceso a la Web o por la imposibilidad de acceder a esta.</p>
<p>En ningún caso las galletas u otros medios de naturaleza análoga que se puedan utilizar servirán para almacenar
    información que permita identificar la persona física usuaria de la Web.</p>


<h2>ENLACES EN OTROS SITIOS WEB AL PORTAL DEL GOBIERNO DE ARAGÓN</h2>

<p>En aquellos casos en que sitios Web de titularidad ajena al Gobierno de Aragón contengan enlaces a esta página, se
    exigirá el cumplimiento de las siguientes normas previa petición de autorización de enlace por parte de estos.</p>
<p>Que el enlace contenga indicación de la fuente (“Gobierno de Aragón” u otro identificativo de la unidad).</p>
<p>Que el efecto de accionar el “botón de enlace” sea la comunicación con la página web del Gobierno de Aragón, y no una
    incorporación de los contenidos de nuestro “web site” en la página.</p>
<p>Que sean respetados los derechos de propiedad intelectual e industrial del Gobierno de Aragón, no pudiendo incorporar
    logos, buscadores, etc., propios del Gobierno de Aragón, en la página.</p>
<p>Que recíprocamente, el Gobierno de Aragón también podrá establecer enlaces en caso de que lo considere oportuno desde
    su página Web a las de la organización.</p>
<p>Por el incumplimiento de estas condiciones o por otras razones si así se estima oportuno, se podrá revocar la
    autorización sin derecho a indemnización ni compensación alguna.</p>
{% endblock %}
