{% extends "linguatec_lexicon_frontend/base_static_pages.html" %}
{% load static %}

{% block content %}
<div class="col-12">
    <h1>Aviso Legal</h1>

    <h2>Derechos de Propiedad Intelectual y Sobre Nombres y Signos Distintivos</h2>

    <p>Toda la información albergada en esta web, así como su diseño gráfico, textos, imágenes, sonido y cualquier
        otro
        material, es propiedad intelectual del Gobierno de Aragón, salvo que sean materiales cedidos o conste su
        titularidad de otra persona física o jurídica.
        No está permitida la modificación del sitio Web institucional ni de sus contenidos.</p>

    <p>El contenido del diccionario está bajo una <a rel="license"
            href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons
            Reconocimiento-CompartirIgual 4.0 Internacional</a> (CC BY-SA 4.0).</p>

    <p>Usted es libre de:</p>
    <p><strong>Compartir</strong> — copiar y redistribuir el material en cualquier medio o formato.</p>
    <p><strong>Adaptar</strong> — remezclar,
        transformar y crear a partir del material para cualquier finalidad, incluso comercial.</p>

    <div class="rg-creative-commons">
        <img src="{% static 'cc/cc_white.svg' %}" alt="Creative Commons" width="62" height="62" />
        <img src="{% static 'cc/attribution_icon_white.svg' %}" alt="Atribución" width="62" height="62" />
        <img src="{% static 'cc/sa_white.svg' %}" alt="Compartir Igual" width="62" height="62" />
    </div>

    <p><strong>AVISO:</strong> Esto es un resumen inteligible para humanos (y no un sustituto) de la licencia.
        Consulte el texto completo de <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.es">la
            licencia</a> para obtener más
        detalles.
    </p>

    <h2>Exoneración de Responsabilidad</h2>

    <p>En aquellos casos en que el sitio Web del Gobierno de Aragón contenga enlaces a otras páginas o sitios
        Web de titularidad ajena, ésta declina cualquier responsabilidad de sus contenidos o los servicios prestados
        a
        través de ellas.</p>
    <p>El Gobierno de Aragón no será responsable de los fallos en la comunicación, plazos o versiones producidos
        por servicios de telecomunicación o por cualesquiera otros servicios técnicos prestados por terceras
        personas o desde servidores ajenos.</p>
    <p>El Gobierno de Aragón no garantiza que la Web y el servidor estén libres de virus y no se hacen responsables
        de los daños causados por el acceso a la Web o por la imposibilidad de acceder a esta.</p>
    <p>En ningún caso las galletas u otros medios de naturaleza análoga que se puedan utilizar servirán para
        almacenar información que permita identificar la persona física usuaria de la Web.</p>

    <h2>Enlaces en otros Sitios Web al Portal</h2>

    <p>En aquellos casos en que sitios Web de titularidad ajena al Gobierno de Aragón contengan enlaces a esta
        página, se exigirá el cumplimiento de las siguientes normas previa petición de autorización de enlace por parte
        de
        estos.
    </p>
    <p>Que el enlace contenga indicación de la fuente (“Gobierno de Aragón” u otro identificativo de la unidad).</p>
    <p>Que el efecto de accionar el “botón de enlace” sea la comunicación con la página web del Gobierno de Aragón,
        y no una incorporación de los contenidos de nuestro “web site” en la página.</p>
    <p>Que sean respetados los derechos de propiedad intelectual e industrial del Gobierno de Aragón, no pudiendo
        incorporar logos, buscadores, etc., propios del Gobierno de Aragón, en la página.</p>
    <p>Que recíprocamente, el Gobierno de Aragón también podrá establecer enlaces en caso de que lo considere
        oportuno desde su página Web a las de la organización.</p>
    <p>Por el incumplimiento de estas condiciones o por otras razones si así se estima oportuno, se podrá revocar la
        autorización sin derecho a indemnización ni compensación alguna.</p>
</div>
{% endblock %}
