{% extends "linguatec_lexicon_frontend/base_static_pages.html" %}
{% load static %}

{% block content %}
<div class="col-12">
    <h1>Proyecto LINGUATEC</h1>

    <p>Este trabajo ha sido posible gracias al Programa INTERREG V-A España-Francia-Andorra, denominado LINGUATEC en el
        que participa el Gobierno de Aragón, a través de la SOCIEDAD DE PROMOCIÓN Y GESTIÓN DEL TURISMO DE ARAGÓN,
        S.L.U., junto con LO CONGRÈS PERMANENT DE LA LENGA OCCITANA, UNIVERSIDAD DEL PAÍS VASCO / EUSKAL HERRIKO
        UNIBERTSITATEA,CNRS (CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE)- DELEGATION REGIONALE MIDI-PYRENEES,
        EUSKALTZAINDIA - REAL ACADEMIA DE LA LENGUA VASCA, para el periodo de enero 2018 a diciembre de 2020.</p>

    <p>El objetivo del proyecto LINGUATEC es desarrollar, demostrar y difundir nuevos recursos, herramientas y
        aplicaciones lingüísticas innovadoras que mejoren el nivel de digitalización del aragonés, del euskera y del
        occitano. Los resultados que se esperan de este proyecto son los siguientes: Una hoja de ruta de digitalización
        del aragonés; 5 nuevos recursos lingüísticos; 8 herramientas lingüísticas desarrolladas o 6 Aplicaciones
        innovadoras desarrolladas; 2 acuerdos entre universidades y empresas para la comercialización de soluciones. La
        colaboración transfronteriza permitirá transferir conocimientos y desarrollar soluciones lingüísticas con
        potencial de mercado, que beneficien a profesionales de las lenguas y faciliten el acceso público multilingüe a
        contenidos y avanzar en el desarrollo de un clúster transfronterizo de tecnologías lingüísticas.</p>


    <p>Más información acerca del proyecto en <a class="ref-external"
            href="https://linguatec-poctefa.eu/"">
            linguatec-poctefa.eu</a>.
    </p>

    {% comment %}
    <h2>Recursos</h2>
    El código fuente de la aplicación desarrollada puede encontrarse en ... {# TODO add link to repository #}
    {% endcomment %}
</div>
{% endblock %}
