{% extends "linguatec_lexicon_frontend/base_static_pages.html" %}
{% load static %}

{% block content %}
<div class="col-12">
    <h1>Proyecto LINGUATEC</h1>
    <p>El objetivo del proyecto LINGUATEC es desarrollar, demostrar y difundir nuevos recursos, herramientas y
        aplicaciones
        lingüísticas innovadoras que mejoren el nivel de digitalización del aragonés, del euskera y del occitano. La
        colaboración transfronteriza permitirá transferir conocimientos y desarrollar soluciones lingüísticas con
        potencial
        de mercado, que beneficien a profesionales de las lenguas y faciliten el acceso público multilingüe a contenidos
        y
        avanzar en el desarrollo de un clúster transfronterizo de tecnologías lingüísticas.</p>
    <p>Más información acerca del proyecto en <a class="ref-external"
            href="https://www.poctefa.eu/proyectos/listado-de-proyectos/detalle-de-proyecto/?IdProyecto=b175df4f-ea1a-42ac-8fb5-51c484333de7">
            poctefa.eu</a>.
    </p>

    {% comment %}
    <h2>Recursos</h2>
    El código fuente de la aplicación desarrollada puede encontrarse en ... {# TODO add link to repository #}
    {% endcomment %}
</div>
{% endblock %}
