{% load linguatec %}

<div class="rg-entry">
    {# WARNING: hacky line because DGPL wants to hidde somontanos variation name#}
    <div class="rg-variation-name {% if variation.lower == 'somontanos' %}d-none{% endif %}">{{ variation }}:</div>
    {% for entry in variation_entries %}
    <span class="rg-entry-translation">
        {# <!-- BE CAREFUL HERE WITH WHITESPACES! Affects final HTML render -->#}
        {{ entry.translation|render_entry }}<a href="{% url 'admin:linguatec_lexicon_entry_change' entry.id %}">(edit)</a>{% if not forloop.last %}<span>, </span>{% endif %}
    </span>
    {% endfor %}
</div>
