{% load linguatec %}

<article>
    <header class="rg-word">
        <h2>{{ word.term }}</h2>
    </header>
    <div class="rg-entries">

        {% for entry in word.entries_common %}
        <div class="row">
            {% include "linguatec_lexicon_frontend/word_entry.html" %}
        </div>
        {% endfor %}

        {% if word.entries_variations %}
        <div class="rg-word-separator"></div>
        <div class="rg-diatopic-variations">
            <div class="rg-diatopic-variations-header">
                <h3>Variedades Diatópicas</h3>
            </div>
            {% for region, entries_list in word.entries_variations.items %}
            <div class="row">
                <div class="col-12">
                    <div class="rg-variation-content">
                        <div class="rg-variation-region">
                            <h4>{{ region }}</h4>
                        </div>
                        <div class="rg-variation-entries">
                            {% for entry in entries_list %}
                            {% include "linguatec_lexicon_frontend/word_entry.html" with variation=True%}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</article>
<div class="rg-word-separator"></div>
