body {
    font-family: 'Lato', sans-serif;
}

a {
    color: #707070;
}

a:hover {
    color: #c8c8c8;
}

h1, h2, h3 {
    font-variant: small-caps;
}

h1, h2, h3, p {
    color: #333;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.rg-list-lower-alpha {
    list-style-type: lower-alpha;
}

.rg-list-citation {
    color: #333;
    list-style-type: none;
}
.rg-list-help-variants {
    list-style-type: square;
}

#loading_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2600;
}

.rg-loading {
    height: 80px;
}

.rg-loading #rg_loading_flag {
    background-image: url('loading-header-bg.png');
    background-position: right 10px top; /** $x/2 = 10px **/
    background-repeat: no-repeat;
    height: 100%;
    padding-left: 0;
}

@media (min-width: 1200px) {
    .rg-loading #rg_loading_flag {
        background-position: 0px top; /** $x/2 = 10px **/
    }
}

.rg-loading #rg_loading_logo_ga {
    padding-left: 0;
    padding-right: 20px; /** $X is minium defined space in ga logo rules **/
}


.rg-loader-wrapper {
    width: 60px;
}
.rg-loader  {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #333333; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body.home {
    background: #FC565B;
}

header.rg-header {
    margin-bottom: 1.5rem;
}

.rg-header-content {
    background: #FC565B;
}

.rg-header-bottom {
    background-image: url(header-bg-color.svg);
    background-position-x: 38px; /* header-bg.width x (53/300) */
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 18px;
}

header.rg-header .navbar {
    padding-bottom: 0;
}

.rg-header .navbar-brand .navbar-brand-logo {
    /*
    minimum width supported (320px)
        15px padding-left
        16px (1rem) navbar-brand.margin-right
        32px (2rem) navbar-toggler icon
        15px padding-right
        ------------------
        78px
    */
    width: 240px;
}

header.rg-header .navbar-toggler {
    font-size: 2em;
    border: 0;
    padding: 0;
}

header.rg-header .navbar-toggler .fa-bars {
    color: white;
}

.home header.rg-header .navbar-toggler .fa-bars {
    color: #333333;
}

.rg-header .navbar-collapse.collapsing {
    position: initial;
}

.rg-header .navbar-collapse.collapsing .rg-navbar-content {
    transition: none;
}
/* TODO menu transition right 0.35s ease;
.rg-header .navbar-collapse {

}

.rg-header .collapse:not(.show) {
    display: block;
}

.rg-header .collapse:not(.show) .rg-navbar-content {
    right: -100%;
    height: 0;
}

.show .rg-navbar-content {
    height: auto;
}*/

.rg-navbar-content {
    background: white;
    color: #333333;
    box-shadow: -7px 4px 4px rgba(0,0,0,0.4);
    /** playground **/
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    /** endplayground **/
}

.rg-navbar-separator {
    border-bottom: 1px solid #C8C8C8;
    margin-right: 15px;
}

.rg-main {
    margin-bottom: calc(42px + 2rem); /** fixed footer height (42px) + real margin */
}

.home .rg-main #aragonarioLogo img {
    width: 330px;
}

footer.rg-footer {
    background: white;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.16);
}

#footer_collapse_button {
    color: #333333;
    display: block;
    margin-top: -0.5rem;
}

#footer_collapse_button .fa-angle-down,
#footer_collapse_button.collapsed .fa-angle-up {
    display: inline-block;
}

#footer_collapse_button .fa-angle-up,
#footer_collapse_button.collapsed .fa-angle-down {
    display: none;
}

.rg-logo img {
    width: 240px;
}

.rg-logo {
    margin-bottom: 30px;
}

.rg-logos-container,
.rg-footer #collapseLogos {
    margin-top: 32px;
}

.rg-footer #collapse_button_container {
    height: 2rem;
}

.rg-footer #collapseLogos {
    margin-bottom: 2px;
}

.rg-footer #rg-fondos-feder {
    color: #707070;
    font-size: smaller;
}

.rg-search {
    margin-top: 1.5rem;
    background-image: url('search-input-bg.svg');
    background-repeat: no-repeat;
    background-position: 16px bottom;
    background-size: auto 18px;
    padding-bottom: 18px;
}

.home .rg-search {
    background-position: 32px bottom;
}

.home .external-links .col {
    padding-right: 0;
    padding-left: 0;
}

.home .external-links a.ref-external {
    background: #d9484d;
    color: white;
    font-size: 0.8125rem;
    padding: 0.5rem 1rem;
}

.rg-search #input-search {
    background: #f0f0f0; /* same color than .rg-search background image */
    border-width: 0;
    border-radius: 0;
    color: #333;
    margin-right: 0.5em;
    height: 62px;
}

.rg-search #selected_lex {
    background: gainsboro;
    border: 0px;
}

.home .rg-main .rg-search #button-search {
    background: #333333;
    color: white;
}

.rg-main .rg-search #button-search {
    background: #FC565B;
    border-radius: 0;
    border-width: 0;
    color: white;
    width: 62px;
}

.rg-search-results {
    margin-top: 1rem;
}

.rg-search-results .rg-word {
    color: #707070;
}

.rg-search-results .rg-word h2 {
    color: #707070;
    font-size: 1rem;
    font-variant: normal;
}

.rg-search-results .rg-gramcat,
.rg-search-results .rg-entry-keyword {
    color: #C8C8C8;
    font-weight: normal;
    font-style: italic;
}

.rg-search-results .rg-entries .rg-entry {
    color: #333333;
    font-weight: bold;
    margin-top: 1rem;
}

/*** Diatopic variations ***/
.rg-diatopic-variations-header {
    background: #c8c8c8;
    margin-bottom: 0.8rem;
}

.rg-diatopic-variations-header h3 {
    font-variant-caps: normal;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.3rem 15px;
}

.rg-variation-content {
    background: #f0f0f0;
    margin-bottom: 0.8rem;
    padding-bottom: 0.1rem;
}

.rg-variation-content .rg-variation-region {
    background: #c8c8c8;
    margin-bottom: 0rem;
}

.rg-variation-content .rg-variation-region h4 {
    font-size: 1rem;
    padding: 0.2rem  15px;
}

.rg-variation-content .rg-variation-entries {
    padding-left: 15px;
    padding-right: 15px;
}
.rg-variation-content .rg-variation-entries .rg-entry {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.rg-variation-content .rg-variation-name {
    font-weight: normal;
}
/*** end diatopic variations ***/

.rg-search-results .rg-entries .rg-entry .rg-gramcat {
    margin-bottom: 0.2rem;
}

.rg-search-results .rg-entries .rg-entry .rg-usecase-comment {
    font-weight: normal;
}

.rg-search-results .rg-entry-example {
    font-style: italic;
}

.rg-search-results .rg-entry-conjugation {
    font-weight: normal;
}

.rg-search-results .rg-entry-conjugation .rg-verbal-mood {
    background: #FC565B;
    display: inline-block;
    font-size: 1.25rem;
    font-style: italic;
    margin-top: 1rem;
    padding: 0 15px;
}

.rg-search-results .rg-entry-conjugation .rg-verbal-tense {
    background: #c8c8c8;
    font-size: 1.2rem;
    font-style: italic;
    padding-left: 15px;
}

.rg-search-results .rg-entry-conjugation .rg-verbal-conjugation {
    background: #f0f0f0;
    padding-left: 15px;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.rg-entry-conjugation .rg-btn-verb-model {
    line-height: 1;
    margin-left: 0.2rem;
}

.rg-word-separator {
    background:#e8e8e8;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 6px;
    width: 32px;
    height: 2px;
}

.near-words a {
    color: #333333;
    font-weight: bold;
}

a.ref-external::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a.ref-external::after {
    font-family: "Font Awesome 5 Free", fantasy;
    font-weight: 900;
    content: "\f35d";
    padding-left: 3px;
    vertical-align: text-bottom;
}

/** static content pages styles **/
.rg-creative-commons {
    background: #2b2b2b;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1rem;
}
.rg-creative-commons img {
    width: 62px;
    height: 62px;
    margin-left: 0.5rem;
}

.rg-creative-commons img:first-child {
    margin-left: 0;
}

/** xs devices **/
@media (max-width: 575.98px) {
    body {
        min-width: 320px;
    }
}

/** sm and smaller devices **/
@media (max-width: 767.98px) {
    header.rg-header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .home .rg-search {
        background: none;
    }

    .home .rg-main .rg-search #input-search {
        background: white;
        margin-right: 0;
    }
}

/** sm rules **/
@media (min-width: 576px) {
    .rg-header .navbar-brand .navbar-brand-logo {
        width: 282px;
    }
    .rg-header-bottom {
        background-position-x: 50px;
}

/** md rules **/
@media (min-width: 768px) {
    body.home {
        background: white;
    }

    .home .rg-header {
        display: none;
    }

    .home .rg-main {
        margin-top: 4rem;
    }

    #aragonarioLogo {
        height: 127px;
        background: url("aragonario-color.svg") no-repeat;
    }

    .rg-header .navbar-brand .navbar-brand-logo {
        width: 350px;
    }

    .rg-header-bottom {
        background-position-x: 80px;
    }

    .rg-search {
        margin-top: 0px;
    }

    .home .rg-main .rg-search #input-search {
        background: #f0f0f0;
    }

    .home .rg-main .rg-search #button-search {
        background: #fc565b;
    }

    .home .rg-main .navbar-nav .nav-item {
        padding-left: 2rem;
    }

    .home .rg-main .navbar-nav .nav-item.active {
        display: none;
    }

    .home .rg-main .navbar-nav .nav-item a::before {
        content: " ";
        width: 1rem;
        display: inline-block;
        line-height: 1rem;
        position: relative;
        bottom: -0.5rem;
        left: 0.5rem;
    }

    .home .rg-main .navbar-nav .nav-item:hover a::before {
        border-bottom: 2px solid #fc565b;
    }

    .home .rg-main .navbar-nav .nav-item a.nav-link:hover {
        color: #fc565b;
    }

    .rg-search-results {
        padding-left: 6rem;
    }

    .home .rg-navbar-separator {
        display: none;
    }
}

/** lg rules **/
@media (min-width: 992px) {
    .rg-header .navbar-light .navbar-nav .nav-link {
        color: white;
        font-size: 1rem;
    }

    .rg-header .navbar-light .navbar-nav .nav-link:hover,
    .rg-header .navbar-light .navbar-nav .active .nav-link {
        text-decoration: underline;
    }

    #aragonarioLogo.col-lg-4 {
        max-width: 300px;
    }

    .home .rg-main {
        /** TODO test in different devices and browsers **/
        /*.fixed-bottom {*/
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        /*z-index: 1030;*/
        /*}*/
        margin-bottom: calc(150px + 3rem); /** footer size + desired margin **/
        z-index: 1040;
    }

    .home .ui-widget.ui-widget-content.ui-autocomplete {
        /*background: #f0f0f0;*/
        z-index: 1050;
    }

    .rg-search-results {
        padding-bottom: 5rem;
    }

    /** diatopic variations **/
    .rg-variation-content .rg-variation-region-wrapper {
        padding-right: 0;
    }
    .rg-variation-content .rg-variation-region {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .rg-variation-content .rg-variation-region h4 {
        margin-bottom: 0;
    }
    .rg-variation-name {
        display: inline-block;
    }
    .rg-variation-content .rg-variation-entries {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
    }

    .rg-variation-content .rg-variation-entries .rg-entry {
        margin-bottom: 0;
        padding-left: 0;
    }

    /** footer **/
    footer.rg-footer {
        box-shadow: none;
    }

    .footer-lg-separator {
        background: #fc565b;
        height: 2px;
    }

    .footer-lg-external-links {
        margin-top: 32px;
        margin-bottom: 0.5rem;
    }

    .footer-lg-external-links a {
        background: #fc565b;
        display: inline-block;
        color: white;
        font-size: 0.75rem;
        padding: 0 1rem;
    }

    .footer-lg-external-links a:hover {
        background: #d9484d;
    }

    .footer-lg-external-links a:first-child {
        margin-right: 1rem;
    }

    .footer-lg-external-links a span {
        display: inline-block;
        padding: 0.5rem 0;
    }

    .footer-lg-external-links img {
        padding-right: 1rem;
    }

    .footer-lg-nav {
        margin-left: 1rem;
    }
    .footer-lg-nav a {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
    }

    #rg-fondos-feder {
        margin-top: -1rem;
    }
}

/** xl rules **/
@media (min-width: 1200px) {
    .rg-header .navbar-brand .navbar-brand-logo {
        width: 528px;
    }

    .rg-header-bottom {
        background-position-x: 121px;
    }
}
