body.home {
    background: #FC565B;
}

header.rg-header {
    background: #FC565B;
}

header.rg-header .navbar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

header.rg-header h1 {
    font-size: 1.2em;
    margin-right: 0.5rem;
}

header.rg-header h2 {
    font-size: 0.7em;
}

header.rg-header .navbar-toggler {
    font-size: 1.2em;
    border: 0;
    padding: 0;
}

footer.rg-footer {
    background: white;
}

#footer_collapse_button {
    display: block;
    margin-top: -0.5rem;
}

#footer_collapse_button .fa-angle-down,
#footer_collapse_button.collapsed .fa-angle-up {
    display: inline-block;
}

#footer_collapse_button .fa-angle-up,
#footer_collapse_button.collapsed .fa-angle-down {
    display: none;
}

.rg-search {
    margin-top: 1.5rem;
}

.rg-search #input-search {
    background: #e8e8e8;
    border-radius: 0;
    margin-right: 0.5em;
}

.home .rg-search #button-search {
    background: #333333;
    color: white;
}

.rg-main .rg-search #button-search {
    background: #FC565B;
    border-radius: 0;
    color: white;
}

.rg-search-results {
    margin-top: 1rem;
}

.rg-search-results .rg-word {
    color: #707070;
}

.rg-search-results .rg-word h2 {
    font-size: 1rem;
}

.rg-search-results .rg-word .rg-word-gramcat {
    display: block;
}

.rg-search-results .rg-word-gramcat,
.rg-search-results .rg-entry-keyword {
    color: #C8C8C8;
    font-weight: normal;
}

.rg-search-results .rg-entries .rg-entry {
    color: #333333;
    font-weight: bold;
    margin-top: 1rem;
}

.rg-search-results .rg-entries .rg-entry .rg-usecase-comment {
    font-weight: normal;
}

.rg-search-results .rg-entry-example {
    font-style: italic;
}

.rg-search-results .rg-entry-conjugation {
    font-weight: normal;
}

.rg-word-separator {
    background:#e8e8e8;
    margin-bottom: 1.5rem;
    margin-left: 6px;
    width: 32px;
    height: 2px;
}
