/** @author rauschma -- https://github.com/rauschma/html_demos **/
/* Switch numbering on by adding class "countheads" to h1 */
/* Prevent numbering for a single heading via class "nocount" */

body {
    counter-reset: h2counter;
}
h1 {
    counter-reset: h2counter;
}

.countheads ~ h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}
h2.nocount:before {
    content: none;
    counter-increment: none;
}
h2 {
    counter-reset: h3counter;
}

.countheads ~ h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}
h3.nocount:before {
    content: none;
    counter-increment: none;
}
